<div id="disqus_thread"></div>
<script>
  var disqus_shortname = "berlin-blog"; // replace EXAMPLE with your disqus shortname
  var disqus_identifier = "#{post.id}";

  (function() {
    var dsq = document.createElement("script");

    dsq.type = "text/javascript";
    dsq.async = true;
    dsq.src = "//" + disqus_shortname + ".disqus.com/embed.js";

    (document.head || document.body).appendChild(dsq);
  })();
</script>